# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ host_interface_device }}
iface {{ host_interface_device }} inet manual

# Cloud network
auto {{ host_interface_bridge }}
iface {{ host_interface_bridge }} inet dhcp
        bridge_ports {{ host_interface_device }}
        bridge_fd 5
        bridge_stp off
        bridge_maxwait 1
